html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #eaf7fc;
    width: 1520px; /* 固定幅 */
    margin: 0 auto; /* 中央揃え */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px; /* ヘッダーの高さ分だけマージンを追加 */
}

/* ヘッダーコンテナ */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    position: fixed; /* ヘッダーを固定 */
    top: 0; /* 画面の上部に配置 */
    left: 0; /* 左側に配置 */
    right: 0; /* 右側にも配置 */
    z-index: 1000; /* 他の要素の上に表示 */
}

.logo-container {
    flex-shrink: 0;
    margin-left: 80px;
}

.logo {
    width: 150px;
    height: auto;
}

/* メニュー */
.menu-container {
    flex-grow: 1;
    text-align: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 80px; /* メニューアイテム間のスペース */
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu li a:hover {
    border-bottom: 2px solid #f58fa7; /* ホバー時に下線を表示 */
}

/* コールトゥアクションボタン */
.cta-button {
    background-color: #f58fa7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 80px;
}

.cta-button:hover {
    background-color: #f36a8b;
}


/* メインロゴのスタイル */
.main_logo {
    width: 450px;
    max-width: 100%;
    height: auto; /* 縦横比を維持 */
    margin-top: 50px;
    margin-left: 200px;
}

.key_container {
    display: flex;
    margin-bottom: 100px;
}

.left_column {
    flex-basis: 50%; /* 左側の幅を50%に設定 */
    display: flex;
    flex-direction: column; /* 左側を上下に積み重ね */
    justify-content: space-between; /* 左側の要素を上下に配置 */
}

.main_content {
    flex-basis: 50%; /* 右側に1段分を配置 */
    margin-right: 100px; /* 左側と右側のスペースを確保 */
}

.tagline {
    font-size: 1.5em;
    line-height: 1.5;
    margin-top: 40px;
    margin-left: 250px;
}

.campaign {
    text-align: center;
    margin-bottom: 50px;
}

.campaign_img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 150px;
}
.main_cta-button{
    background-color: #f58fa7;
    color: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 150px;
}
.main_cta-button:hover {
    background-color: #f36a8b;
}

.main_capture {
    width: 90%;
    height: auto;
    margin-right: 50px;
}


/* ささえタイとはのスタイル */
.sasaetai_logo-container {
    display: flex;
    justify-content: center;
    font-size: large;
}
.sasaetai_logo-container img{
    margin-right: 10px;
    object-fit: contain;
    width: 170px;
}
.function-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.function-container table {
    border-collapse: separate; /* セルの間にスペースを確保 */
    border-spacing: 10px; /* セルの間に適度なスペースを追加 */
}

.function-container td {
    background-color: #f58fa7; /* 背景色を薄ピンクに設定 */
    color: white; /* 文字色を白に設定 */
    width: 145px;
    padding: 10px; /* セル内に余白を追加 */
    border-radius: 5px; /* 角を丸く設定 */
    font-size: large;
    text-align: center; /* テキストを中央揃え */
    font-weight: bold; /* 文字を太字に設定 */
}

.function-container p {
    margin-left: 10px;
    margin-top: 50px;
    font-size: large;
}
.function-container span{
    background-color: #afe0f3;
}

.function {
    display: block; /* 画像をブロック要素として扱う */
    margin: 0 auto; /* 左右のマージンを自動にして中央揃え */
}
.function-video-container {
    display: flex;
    gap: 20px; /* 画像・動画とテキストの間に余白を設定 */
    margin-top: 50px;
    margin-bottom: 50px;
}
.function-video-container span {
    background-color: #afe0f3;
}

.function-video {
    display: flex;
    flex-direction: column; /* 画像と動画を上下に配置 */
    padding-left: 250px;
}
.function-video img {
    width: 70%; /* 画像がiframeの幅に揃うようにする */
    height: auto; /* 画像のアスペクト比を保持する */
    margin-left: 20px;
}
.function-video-container p {
    flex: 1; /* テキストを右側に広がるように設定 */
    font-size:larger;
    margin-top: 170px;
    margin-left: -100px;
}


/* タイトル */
h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
    color: #333;
}

/* メニューアイテムのスタイル */
.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px; /* 正方形に近づけるための幅 */
    height: 250px; /* 正方形に近づけるための高さ */
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
}

.menu-link {
    text-decoration: none;
}

.menu-item img {
    max-width: 170px;
    height: auto;
    margin-bottom: 15px;
}

/* テキストと矢印を横並びに */
.text-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item span {
    font-size: 1.2rem;
    color: #333;
    margin-right: 10px; /* 矢印との間にスペースを作成 */
}

.menu-item .right_arrow {
    max-width: 30px;
    height: auto;
}

/* メニューのホバー効果 */
.menu-item:hover {
    background-color: #ffe6e6; /* 薄いピンク色 */
}

/* メニューを横に並べる親要素 */
.menu-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-title {
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 100px;
}
.form-title img{
    margin-right: 10px;
    object-fit: contain;
    width: 250px;
}

.form-title2 {
    text-align: center;
    font-size: x-large;
}
.form-title2 p {
    margin-top: 0px;
}

.form-title2 img {
    width: 50%;
    height: auto;
}

.form-container {
    display: flex;
    gap: 10px; /* 各要素の間にスペースを追加 */
    justify-content: center;
}

.form-item {
    background-color: white; /* 背景色を白に設定 */
    border: 2px solid lightgray; /* グレーの枠線を設定 */
    border-radius: 10px; /* 角を丸くする */
    padding: 20px ; /* 内側の余白を追加 */
    text-align: center; /* 中央揃え */
    width: 250px; 
}

.form-item img {
    width: 200px; /* 画像の幅を設定 */
    height: auto; /* 画像のアスペクト比を維持 */
    margin-top: 10px; /* テキストとの間に余白を追加 */
}

.form_cta-button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.form_cta-button .cta-button {
    font-size: 20px;
    margin: 0px;
    padding: 15px 20px;
}

/* 企業情報のスタイル */
.company-info {
    display: flex; /* フレックスボックスを使用して横並びにする */
    justify-content: center;
    background-color: #ffffff; /* 背景色を白に設定 */
    width: 600px;
    border: 2px solid #ccc; /* グレーの枠線 */
    border-radius: 10px; /* 角を丸くする */
    padding: 20px; /* 内側の余白 */
    align-items: center; /* 中央揃え */
    margin: 0 auto;
    margin-bottom: 100px;
}

/* 企業ロゴのスタイル */
.nips_logo {
    height: 90px; /* 高さを80pxに設定（必要に応じて調整） */
    margin-right: 50px; /* 画像と文面の間にスペースを作成 */
}

/* テキストコンテナのスタイル */
.text-container {
    display: flex;
    flex-direction: column; /* 縦に並べる */
}


/* リンクのスタイル */
.text-container a {
    color: #7d7d7d; /* リンクの色 */
    transition: color 0.3s ease; /* ホバー時の変化にスムーズなトランジション */
}

.text-container a:hover {
    color: #0056b3; /* ホバー時の色 */
}

/* フッター */
footer{
    background-color: rgb(65, 182, 230);
}
.footer-container {
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%; /* 幅を画面いっぱいに */
    box-sizing: border-box; /* パディングを含めた幅の計算 */
    margin: 0 auto; /* 中央揃え */
    position: relative;
}


.pagetop {
    position: absolute; /* 画像の位置を絶対的に指定 */
    right: 80px; /* 右端からの距離 */
    transform: translateY(-20%);
}

.pagetop img {
    width: 40px; /* 画像の幅を指定 */
    height: auto;
}
