html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #eaf7fc;
    width: 1520px; /* 固定幅 */
    margin: 0 auto; /* 中央揃え */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px; /* ヘッダーの高さ分だけマージンを追加 */
}

/* ヘッダーコンテナ */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    position: fixed; /* ヘッダーを固定 */
    top: 0; /* 画面の上部に配置 */
    left: 0; /* 左側に配置 */
    right: 0; /* 右側にも配置 */
    z-index: 1000; /* 他の要素の上に表示 */
}

.logo-container {
    flex-shrink: 0;
    margin-left: 80px;
}

.logo {
    width: 150px;
    height: auto;
}

/* メニュー */
.menu-container {
    flex-grow: 1;
    text-align: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 80px; /* メニューアイテム間のスペース */
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu li a:hover {
    border-bottom: 2px solid #f58fa7; /* ホバー時に下線を表示 */
}

/* コールトゥアクションボタン */
.cta-button {
    background-color: #f58fa7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-right: 80px;
}

.cta-button:hover {
    background-color: #f36a8b;
}

h2{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
}
p{
    text-align: center;
    margin-bottom: 20px;
}
.button-container{
    text-align: center;
}

/* フッター */
footer{
    background-color: rgb(65, 182, 230);
    position: fixed; /* フッターを固定 */
    left: 0; /* 左側に配置 */
    bottom: 0; /* 画面の一番下に配置 */
    width: 100%; /* 幅を画面いっぱいに */
    box-sizing: border-box; /* パディングを含めた幅の計算 */
}
.footer-container {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 auto; /* 中央揃え（必要に応じて） */
}

.pagetop {
    position: absolute; /* 画像の位置を絶対的に指定 */
    right: 80px; /* 右端からの距離 */
    transform: translateY(-20%);
}

.pagetop img {
    width: 40px; /* 画像の幅を指定 */
    height: auto;
}